@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
body {
  font-family: Dosis;
  background-color: #18142c;

 
}


html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
